*{
    margin:0;
    padding: 0;
}

body{
background-color: rgb(27, 59, 51);
color: white;
font-family: 'Poppins',sans-serif;
}
nav{
display: flex;
justify-content: space-around;
align-items: center ;
height: 50px;
background-color: rgb(42, 88, 76);
}
nav ul{
display: flex;
justify-content: center;

}
nav ul li{
list-style: none;  
margin: 0px 25px;
}
nav ul li a{
list-style: none;  

color: white;
text-decoration: none;
}
nav ul li a:hover{

color: rgb(155, 221, 155);
text-decoration:double ;
font-size: 0.9rem;

}
.left{
font-size: 1.7rem;
}
.firstsection{
display: flex;
justify-content: space-around ;
align-items: center;
margin: 150px 0;
}
.firstsection  div{
width:40%;
}
.leftsection{
font-size: 3rem;
}

.leftsection .buttons{
    padding: 25px;
    }

.leftsection .btn{
padding: 14px;
background-color:rgba(3, 45, 2, 0.478);
border: 3px solid rgb(0, 0, 0);
border-radius: 7px;
color: white;
font-size: 1rem;
cursor: pointer;
font-size: 18px;

}

.rightsection img {
width: 70%;
margin: -35px 101px;

}
#element{
color: green ;
font-size: 1.8;
text-decoration-color: rgb(27, 177, 27);
}
.secondsection{
max-width: 80vw;
margin: auto;
height:85vh;

}
.secondsection h1{

font-size: 1.8rem;

}
main hr{
border: 0;
height:0.3px;
background-color: green;
margin: 30px 50px;
}
.text-grey{
color: grey;
}
.secondsection .box{
background-color:white ;
width: 79vw;
height: 2px;
margin: 56px 0;
display: flex;

}
.secondsection .vertical{
height: 93px;
background-color: white;
width: 1px;
margin: 0 120px;
}
.image-top{
width: 45px;
position: relative;
top: -52px;
left: -18px;
}
.image-top2{
width: 34px;
position: relative;
top: -55px;
left: -11px;
}
.image-top3{
width: 50px;
position: relative;
top: -56px;
left: -18px;
}
.vertical-title{
position: relative;
top:71px;


}
.vertical-desc{
position:relative ;
top: 81px;
font-size: 13px;
width:160px ;

}


.thirdsection{
    max-width: 80vw;
    margin: auto;
    height:80vh;
    
    }
    .thirdsection h1{
    
    font-size: 1.8rem;
    
    }
    body .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 40px 0;
      }
      
      body .container .card {
        position: relative;
        min-width: 320px;
        height: 440px;
        box-shadow: inset 5px 5px 5px rgba(0, 186, 43, 0.528),
          inset -5px -5px 15px rgba(255, 255, 255, 0.1),
          5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        margin: 30px;
        transition: 0.6s;
      }
      
      body .container .card:nth-child(1) .box .content a {
        background: #2196f3;
      }
      
      body .container .card:nth-child(2) .box .content a {
        background: #e91e63;
      }
      
      body .container .card:nth-child(3) .box .content a {
        background: #23c186;
      }
      
      body .container .card .box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #04240d;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.6s;
      }
      
      body .container .card .box:hover {
        
        transform: translateY(-50px);
    
       
      }
      
      body .container .card .box:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.03);
      }
      
      body .container .card .box .content {
        padding: 20px;
        text-align: center;
      }
      
      body .container .card .box .content h2 {
        position: absolute;
        top: -10px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255, 255, 255, 0.1);
      }
      
      body .container .card .box .content h3 {
        font-size: 1.8rem;
        color: #f1f1f1;
        z-index: 1;
        transition: 0.5s;
        margin-bottom: 15px;
      }
      
      body .container .card .box .content p {
        font-size: 1rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        transition: 0.5s;
      }
      
      body .container .card .box .content a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        background: black;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }
      body .container .card .box .content a:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        background: #fff;
        color: #000;
      }
     footer{
        background-color: rgb(12, 8, 8) ;
     }
     .footerContainer{
        width: 100%;
        padding: 20px 20px 10px;

     }
     .socialIcons{
        display: flex;
        justify-content: center;
     }
     .socialIcons a{
        text-decoration: none;
        padding:10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
     }
     .socialIcons a i{
        font-size: 2em;
        color: black;
        opacity: 0.9;

     }
     .socialIcons a:hover{
        background-color: black;
        transition: 0.5s;

     }

     .socialIcons a:hover i{
        color: white;
        transition: 0.5s;

     }
     .footerNav{
        margin: 30px 0;
        text-decoration: none;
     }

     .footerNav ul{
        display: flex;
        justify-content: center;
   
     }
     .footerNav ul li{
        display: flex;
        justify-content: center;
        text-decoration: none;
   
     }
     .footerNav ul li a{
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
     }

     .footerNav ul li a:hover{
        opacity: 1;
     }
     .footerBottom{
        background-color: black;
        padding: 20px;
        text-align: center;
     }
     .footerBottom p{
        color: white;
     }
.designer{
    opacity:0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0px 5px;
}
@media( max-width:700px){
    .footerNav ul{
        flex-direction: column;
    }
}
@media screen and (max-width: 300px) {
  
}
